PORT=8000
API_URL=http://localhost:8000/api
FRONTEND_URL=http://localhost:3000
ISSUER=issuer

JWT_SECRET=jwt_secret
ACCESS_SECRET=access_secret
REFRESH_SECRET=refresh_secret
MESSAGE_SECRET=messages_secret

MONGODB_URI=mongodb://127.0.0.1:27017

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_serect